body{
    background-color: rgb(236, 230, 250);
    background: linear-gradient(135deg, #e0f7fa, #b2ebf2);
   box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    background-color: #f0f8ff;
    width: 600px;
    height:610px;
    margin-left: 400px;
    border-radius: 10px;
   
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    transform: rotateX(2deg); 
    transition: all 0.3s ease-in-out; 
}
.first{
    
    color:#2F4F4F;
    text-shadow: 2px 2px 4px #AAAAAA;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    max-width: 50%;
    justify-content: center;
}
h1 {
    
    color: #00796B; /* A color that pops */
    font-size: 36px;
    margin-bottom: 20px;

    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}


