body {
    font-family: Arial, sans-serif;
    background-color: rgb(230, 250, 249);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 50px;
    text-align: center;
}

#portfolio {
    background-color: rgb(230, 250, 249);
    margin-bottom: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header h1 {
    color: #00796b;
    font-size: 36px;
    margin-bottom: 10px;
    margin-left: 110px;
}

.header p {
    font-size: 18px;
    color: #555;
    margin-left:100px ;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00796b;
}

.about h2 {
    color: #00796b;
    font-size: 28px;
}

.about p {
    font-size: 18px;
    color: #333;
}

.contact-link {
    font-size: 18px;
    color: #00796b;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.contact-link:hover {
    text-decoration: underline;
}


